[Unit]
Description=Software Update Service

After=CcspPandMSsp.service

[Service]
Type=forking
ExecStartPre=/bin/sh -c '/bin/touch /rdklogs/logs/swupdate.log'
ExecStart=/bin/sh -c '/lib/rdk/swupdate_utility.sh 2&> /rdklogs/logs/swupdate.log &'
Restart=always
StartLimitIntervalSec=120

[Install]
WantedBy=multi-user.target
