[Unit]
Description=Hostapd IEEE 802.11n AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=CcspPandMSsp.service
StartLimitIntervalSec=120

[Service]
Type=forking
ExecStartPre=/bin/sh -c '(/lib/rdk/hostapd-init.sh)'
PIDFile=/var/run/hostapd-global.pid
ExecStart=/usr/sbin/hostapd -g /var/run/hostapd/global -B -P /var/run/hostapd-global.pid
ExecStartPost=hostapd_cli -i global raw ADD bss_config=phy0:/nvram/hostapd0.conf
ExecStartPost=hostapd_cli -i global raw ADD bss_config=phy1:/nvram/hostapd1.conf
ExecStartPost=hostapd_cli -i global raw ADD bss_config=phy2:/nvram/hostapd10.conf
Restart=always

[Install]
WantedBy=multi-user.target

