[Unit]
Description=Hostapd IEEE 802.11n AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=CcspPandMSsp.service

[Service]
Type=forking
ExecStartPre=/bin/sh -c '(/lib/rdk/hostapd-init.sh)'
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd.pid /nvram/hostapd0.conf /nvram/hostapd1.conf
Restart=always

[Install]
WantedBy=multi-user.target

