[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=CcspPandMSsp.service hostapd-2G.service

[Service]
Type=forking
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd-5G.pid /nvram/hostapd1.conf
Restart=always
StartLimitIntervalSec=120

[Install]
WantedBy=multi-user.target


